@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-wider;
  }
}

/* lenis */
.lenis.lenis-smooth {
  scroll-behavior: auto;
}

/* base */
body {
  font-family: 'manrope', sans-serif;
  width: calc(100vw - (100vw - 100%));
}

[x-cloak] {
  visibility: hidden !important;
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 1px #1d1d1d;
}

/* Animation */
html.is-changing .transition-fade {
  transition: 0.5s;
  opacity: 1;
}
html.is-animating .transition-fade {
  opacity: 0;
}

.slide-down {
  animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* prose style */
.prose {
  @apply max-w-5xl;
}
.prose p {
  @apply mb-4 leading-relaxed;
}
